html{
	 background: url("https://b24.am/files/2016/Profile5_280952171.jpg") no-repeat center center fixed;
	 background-size: cover;
}

h1{
	color: rgb(149, 179, 179, 1);
	font-family: 'Lora', serif;
	font-weight: bold;
	margin-left: 20px;

}

#container-button {
	width: 92%;
    height: 76%;
    /*border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-class{
	border: 2px solid white;
	border-radius: 0 0 0 0;
	cursor: pointer;
	font-family: Calibria;
	padding: 10px;
	font-weight: bold;
	color: white;
	background-color: transparent;
	transition: all 1s;
}

.btn-class:hover{
	transform: scale(1.1);
}